@import url(utility.css);

body {
  background-image: url(./images/WhatsApp\ Image\ 2024-03-18\ at\ 10.37.48\ PM.jpeg);

  background-size: cover;
  
}

/* .container {
  background-color: rgba(252, 250, 247, 0.9);
  padding: 20px;
  padding-left: 40px;
  border-radius: 0.5cm;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
} */
.container {
  background-color: rgba(252, 250, 247, 1);
  padding: 15px;
  padding-left: 30px;
  width: 332px;
  height: 613px;
  border-radius: 64px;
  /* margin-top: 5px; */
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 3px 5px 0px;
}

h2 {
  color: rgb(243, 164, 17);
  font-weight: 900;
}

span {
  font-weight: 700;
  color: #222222;
  font-size: medium;
}

input {
  width: 272px;
  height: 34px;
  border-radius: 9px;
  font-size: 16px;
  font-family: inherit;
  border: 0;
  padding: 0 24px;
  color: #222222;
  background: #ebebeb;
  margin-top: 15px;
  font-size: small;
}

button {
  height: 40px;
  width: 150px;
  background-color: #ffd700;
  border-radius: 0.3cm;
  margin-top: 32px;
  border-color: #ffd700;
  color: white;
  
}

.otp-btn {
  height: 20px;
  width: 100px;
  background-color: #000000;
  border-radius: 0.2cm;
  margin-top: 5px;
  border-color: #000000;
  color: white;
}

.form-termsAndCondition {
  font-size: x-small;
  margin-top: 14px;

}

.form-orSignUpWithGoogle {
  font-size: 12px;
  /* font-weight: bold; */
  /* border: solid; */
  font-weight: 400;
  margin-top: 12px;
}

a {
  color: #ffd700;
}

.fa-brands {
  margin-top: 12px;
}

.alreadyHaveAnAccount {
  font-size: small;
  margin-top: 7px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border: 2px solid #ffd700;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 200px) and (max-width: 679px) {
  .container {
    background-color: rgb(252, 250, 247);
    width: 332px;
    height: 613px;
    border-radius: 64px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    height: 40px;
    width: 150px;
    background-color: #ffd700;
    border-radius: 0.3cm;
    margin-top: 32px;
    border-color: #ffd700;
    color: white;
    
  }

  input {
    width: 272px;
    height: 34px;
    border-radius: 9px;
    font-size: 16px;
    font-family: inherit;
    border: 0;
    padding: 0 24px;
    color: #222222;
    background: #ebebeb;
    margin-top: 15px;
    font-size: small;
  }

  .form-termsAndCondition {
    font-size: x-small;
    margin-top: 14px;

  }

  .form-orSignUpWithGoogle {
    font-size: 12px;
    font-weight: 400;
    margin-top: 12px;
  }

  .fa-brands {
    margin-top: 12px;
  }

  .alreadyHaveAnAccount {
    font-size: small;
    margin-top: 7px;
  }

}